/* AUXILIARY LAYOUT STYLES */

.main-page,
.inner-page,
.main-page *,
.inner-page * {
  color: #000000;
  background-color: transparent;
}

.main-page {
    background-image: url("../_tmp/device-index-slides-1.jpg");
    /* background-image: url("../_tmp/device-index-slides-2.jpg"); */
    /* background-image: url("../_tmp/device-index-slides-3.jpg"); */
    /* background-image: url("../_tmp/device-index-overlays.jpg"); */
    background-repeat: no-repeat;
    background-position: -120px 0;
}

.inner-page {
    background-image: url("../_tmp/device-catalog.jpg");
    /* background-image: url("../_tmp/device-catalog-overlays.jpg"); */
    background-repeat: no-repeat;
    background-position: -120px 0;
}

.header {
  outline: 2px solid red;
  outline-offset: -2px;
}

.header * {
  color: transparent;
}

.header .logo {
  outline: 2px solid blue;
  outline-offset: -2px;
  background-color: rgba(0, 0, 255, 0.1);
}

.header nav {
  outline: 2px solid green;
  outline-offset: -2px;
  background-color: rgba(0, 255, 0, 0.1);
}

.header nav form {
  outline: 2px solid orange;
  outline-offset: -2px;
  background-color: rgba(255, 128, 0, 0.1);
}

.header nav > ul {
  outline: 2px solid blue;
  outline-offset: -2px;
  background-color: rgba(0, 0, 255, 0.1);
}

.header nav > ul > li {
  outline: 2px solid purple;
  outline-offset: -2px;
  background-color: rgba(0, 0, 128, 0.1);
}

.header nav > ul > .header-catalog > ul {
  outline: 2px solid cyan;
  outline-offset: -2px;
  background-color: rgba(0, 128, 128, 0.1);
}

.header nav > ul > .header-catalog > ul > li {
  outline: 2px solid orange;
  outline-offset: -2px;
  background-color: rgba(255, 128, 0, 0.1);
}

.container {
  outline: 2px solid red;
  outline-offset: -2px;
}

.promo {
  outline: 2px solid green;
  outline-offset: -2px;
  background-color: rgba(0, 255, 0, 0.1);
}

.promo-control {
  outline: 2px solid blue;
  outline-offset: -2px;
  background-color: rgba(0, 0, 255, 0.1);
}

.promo-list {
  outline: 2px solid orange;
  outline-offset: -2px;
  background-color: rgba(255, 128, 0, 0.1);
}

.promo-item {
  outline: 2px solid purple;
  outline-offset: -2px;
}

.promo-image {
  outline: 2px solid maroon;
  outline-offset: -2px;
}

.promo-text {
  outline: 2px solid gold;
  outline-offset: -2px;
}

.popular {
  outline: 2px solid blue;
  outline-offset: -2px;
}

.popular-item {
  outline: 2px solid purple;
  outline-offset: -2px;
}

.popular-link {
  outline: 2px solid gold;
  outline-offset: -2px;
}

.popular-link::before {
  outline: 2px solid maroon;
  outline-offset: -2px;
}
.services {
  outline: 2px solid blue;
  outline-offset: -2px;
  background-color: rgba(0, 0, 255, 0.1);
}

.services-control {
  outline: 2px solid green;
  outline-offset: -2px;
  background-color: rgba(0, 255, 0, 0.1);
}

.services-item {
  outline: 2px solid purple;
  outline-offset: -2px;
}

.services-item::before {
  outline: 2px solid maroon;
  outline-offset: -2px;
}

.brands {
  outline: 2px solid blue;
  outline-offset: -2px;
  background-color: rgba(0, 0, 255, 0.1);
}

.brands-item {
  outline: 2px solid green;
  outline-offset: -2px;
  background-color: rgba(0, 255, 0, 0.1);
}

.reference {
  outline: 2px solid blue;
  outline-offset: -2px;
}

.reference-follow-btn {
  outline: 2px solid purple;
  outline-offset: -2px;
}

.footer-wrapper {
  outline: 2px solid red;
  outline-offset: -2px;
}

.footer-wrapper > *:not(.logo) {
  outline: 2px solid blue;
  outline-offset: -2px;
}

.social-link {
  outline: 2px solid gold;
  outline-offset: -2px;
}

.modal {
  outline: 2px solid red;
  outline-offset: -2px;
}
