/* AUXILIARY LAYOUT STYLES */

/* .main-page,
.inner-page,
.main-page *,
.main-page *::before,
.main-page *::after,
.inner-page *,
.inner-page *::before,
.inner-page *::after {
  color: #000000 !important;
  background-color: transparent !important;
} */

body *,
body *::before,
body *::after {
  outline: 1px solid green;
  outline-offset: -1px;
}
