/* FONTS */

@font-face {
  font-weight: 300;
  font-family: "Gilroy";
  font-style: normal;

  src: local("Gilroy Light"),
  url("../fonts/gilroylight-webfont.woff2") format("woff2"),
  url("../fonts/gilroylight-webfont.woff") format("woff");
}

@font-face {
  font-weight: 800;
  font-family: "Gilroy";
  font-style: normal;

  src: local("Gilroy ExtraBold"),
  url("../fonts/gilroyextrabold-webfont.woff2") format("woff2"),
  url("../fonts/gilroyextrabold-webfont.woff") format("woff");
}

@font-face {
  font-weight: 300;
  font-family: "Open Sans";
  font-style: normal;

  src: local("OpenSans Light"),
  url("../fonts/opensans-light-webfont.woff2") format("woff2"),
  url("../fonts/opensans-light-webfont.woff") format("woff");
}

@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  font-style: normal;

  src: local("OpenSans"),
  url("../fonts/opensans-regular-webfont.woff2") format("woff2"),
  url("../fonts/opensans-regular-webfont.woff") format("woff");
}

/* GLOBAL */

body {
  min-width: 1200px;

  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", "Verdana", sans-serif;
  color: #000000;
  letter-spacing: 0.15px;

  background-color: #ffffff;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Header */

.header {
  padding: 40px 0 0;
}

.navigation {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 1160px;
  min-height: 186px;
  padding: 19px 60px 0;

  background-color: #f7e296;

  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
}

.main-page .navigation::after {
  content: "";
  position: absolute;
  bottom: -113px;
  left: 0;
  z-index: -2;

  width: 1160px;
  height: 113px;

  background-color: #f7e296;
}

.logo {
  position: absolute;

  font-weight: 800;
  font-size: 48px;
  line-height: 48px;
  font-family: "Gilroy", "Arial", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.48;
}

.header-logo {
  top: -24px;
  left: 60px;
}

.inner-page .logo:hover {
  opacity: 0.6;
}

.inner-page .logo:active {
  opacity: 0.3;
}

.user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 49px;
  margin-bottom: 47px;
}

.search-form {
  width: 440px;
}

.search-field {
  padding: 0;

  background-color: transparent;
  border-style: none;
  outline: 0;
}

.search-field::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-field::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-field:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-field::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-field:hover::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-field:hover::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-field:hover:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-field:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-field:focus {
  border-bottom: 2px solid #000000;
}

.search-btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  vertical-align: middle;
  text-align: center;

  background-color: transparent;
  border: 2px solid #000000;
  visibility: hidden;

  -webkit-transition: visibility 1ms;
          transition: visibility 1ms;
}

.search-field:focus ~ .search-btn {
  visibility: visible;
}

.search-btn:hover {
  color: #ffffff;

  background-color: #000000;
  visibility: visible;
}

.search-btn:active {
  color: rgba(255, 255, 255, 0.3);
}

.auth-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.header-auth-menu {
  width: 280px;
  margin-left: auto;
}

.auth-item {
  width: 160px;
}

.auth-item:nth-child(2) {
  width: 100px;
}

.auth-link:hover,
.shopping-link:hover {
  opacity: 0.6;
}

.shopping-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style-type: none;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.header-shopping-menu {
  width: 220px;
}

.shopping-item {
  width: 100px;
}

.auth-link:active,
.shopping-link:active {
  opacity: 0.3;
}

.logout-link,
.logout-link:hover,
.logout-link:active {
  opacity: 0.3;
}

.site-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style-type: none;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.header-site-menu {
  min-height: 34px;
}

.site-menu-item {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.header .site-menu-item {
  width: 125px;
}

.header .site-menu-item:nth-child(3) {
  margin-left: 25px;
}

.header .site-menu-item:nth-child(4) {
  margin-left: 100px;
}

.site-menu-link:hover {
  opacity: 0.6;
}

.site-menu-link:active {
  opacity: 0.3;
}

.header .header-catalog {
  position: relative;

  width: 540px;
}

.header-catalog-menu {
  display: none;

  list-style-type: none;

  background-color: #f7e296;
}

.header-catalog-item {
  width: 200px;
  height: 36px;

  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  font-family: "Open Sans", "Verdana", sans-serif;
  text-transform: none;
  letter-spacing: 0.15px;
}

.header-catalog-item:nth-child(5) {
  margin-bottom: 36px;
}

.header-catalog-link:hover {
  opacity: 0.6;
}

.header-catalog-link:active {
  opacity: 0.3;
}

.header-catalog-title {
  display: block;
  width: 220px;
  min-height: 34px;
}

.header-catalog-menu {
  display: none;
}

.header-catalog-menu:hover,
.header-catalog-title:hover + .header-catalog-menu {
  position: absolute;
  top: 24px;
  left: -60px;
  z-index: 2;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
      flex-wrap: wrap;
  align-content: flex-start;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 1160px;
  height: 160px;
  margin: 0;
  padding: 10px 60px 42px;

  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-line-pack: start;
  -ms-flex-wrap: wrap;
}

/* Main */

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  align-content: center;

  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-line-pack: center;
}

.main-section-title {
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 0.47px;
}

.btn {
  position: relative;

  display: block;
  height: 40px;

  font-weight: 800;
  font-size: 18px;
  line-height: 40px;
  font-family: "Gilroy", "Arial", sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3.6px;

  background-color: transparent;
  border-style: none;
  cursor: pointer;
}

.btn::before {
  content: "";
  position: absolute;
  top: 16px;
  left: 0;
  z-index: -1;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: inherit;
  height: 8px;

  background-color: #f0c52e;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.btn:hover::before {
  -webkit-transform: scaley(5);
          transform: scaley(5);

  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-property: -webkit-transform;
          transition-property: -webkit-transform;
          transition-property:         transform;
          transition-property:         transform, -webkit-transform;
}

.follow-btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.desc {
  margin: 0;
  padding: 0;

  color: #464646;
}

.promo-list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.promo-item {
  display: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 1160px;
  min-height: 582px;
  padding: 20px 0;
}

.promo-radio[id$="1"]:checked ~ .promo-list .promo-item:nth-child(1),
.promo-radio[id$="2"]:checked ~ .promo-list .promo-item:nth-child(2),
.promo-radio[id$="3"]:checked ~ .promo-list .promo-item:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.promo-image {
  position: relative;
}

.promo-image[src*="1"] {
  top: -18px;
  left: 90px;

  width: 384px;
  height: 486px;
}

.promo-image[src*="2"] {
  top: -6px;
  left: 116px;

  width: 345px;
  height: 485px;
}

.promo-image[src*="3"] {
  top: 47px;
  left: 30px;

  width: 526px;
  height: 334px;
}

.promo-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  justify-content: flex-start;
  width: 560px;

  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
}

.promo-lead {
  position: relative;

  -ms-flex-order: 1;
  order: 1;
  margin: 62px 0 18px;
  padding: 0;

  font-weight: 800;
  font-size: 47px;
  line-height: 56px;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 0.47px;

  -webkit-box-ordinal-group: 2;
}

.promo-lead::before {
  content: "";
  position: absolute;
  top: -43px;
  z-index: -1;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;

  border-top: 7px solid #ffffff;
}

.promo-lead::after {
  position: absolute;
  z-index: -1;

  font-weight: 800;
  font-size: 179.2px;
  line-height: 179.2px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #ffffff;
  letter-spacing: 1.792px;
}

.promo-image[src*="1"] ~ .promo-text .promo-lead::after {
  content: "01";
  top: -92px;
  right: 46px;
}

.promo-image[src*="2"] ~ .promo-text .promo-lead::after {
  content: "02";
  top: -93px;
  right: 48px;
}

.promo-image[src*="3"] ~ .promo-text .promo-lead::after {
  content: "03";
  top: -92px;
  right: 48px;
}

.promo-desc {
  -ms-flex-order: 2;
  order: 2;
  margin-bottom: 43px;

  -webkit-box-ordinal-group: 3;
}

.promo-table {
  -ms-flex-order: 4;
  order: 4;

  border-collapse: collapse;

  -webkit-box-ordinal-group: 5;
}

.promo-row:first-child {
  font-size: 36px;
  line-height: 48px;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 0.36px;
}

.promo-row:last-child {
  font-size: 13px;
  line-height: 20px;
  color: #464646;
  letter-spacing: 0.13px;
}

.promo-follow-btn {
  -ms-flex-order: 3;
  order: 3;
  width: 220px;
  margin-bottom: 45px;

  -webkit-box-ordinal-group: 4;
}

.promo-control-list {
  position: relative;
  bottom: 253px;
  left: 998px;
  z-index: 2;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  width: 80px;
  height: 12px;
  margin: 0;
  padding: 0;

  list-style-type: none;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.promo-control-label {
  display: block;
  width: 12px;
  height: 12px;

  background-image: url("../img/slider-button-empty.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px 12px;
  cursor: pointer;
}

.promo-radio[id$="1"]:checked ~ .promo-control-list .promo-control-label[for$="1"],
.promo-radio[id$="2"]:checked ~ .promo-control-list .promo-control-label[for$="2"],
.promo-radio[id$="3"]:checked ~ .promo-control-list .promo-control-label[for$="3"] {
  background-image: url("../img/slider-button.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px 12px;
}

.promo-radio[id$="1"]:focus ~ .promo-control-list .promo-control-label[for$="1"],
.promo-radio[id$="2"]:focus ~ .promo-control-list .promo-control-label[for$="2"],
.promo-radio[id$="3"]:focus ~ .promo-control-list .promo-control-label[for$="3"] {
  -webkit-box-shadow: 0 0 1px 1px white,
  0 0 1px 2px #4d90fe;
          box-shadow: 0 0 1px 1px white,
  0 0 1px 2px #4d90fe;
}

.popular {
  min-height: 238px;
  margin: 0 0 179px;
}

.popular-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style-type: none;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.popular-item {
  width: 160px;
  padding: 195px 0 0;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 0;
}

.popular-link {
  position: relative;

  display: block;

  text-align: left;
}

.popular-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.popular-link::before,
.popular-link::after {
  content: "";
  position: absolute;
  top: -195px;
  left: 0;

  width: 160px;
  height: 160px;
}

.popular-link::before {
  background-color: rgba(240, 197, 46, 0.5);
}

.popular-link:hover::before {
  background-color: rgba(240, 197, 46, 1);
}

.popular-link::after {
  background-repeat: no-repeat;
  background-position: center;
}

.popular-item:nth-child(1) .popular-link::after {
  background-image: url("../img/popular-1.svg");
}

.popular-item:nth-child(2) .popular-link::after {
  background-image: url("../img/popular-2.svg");
  background-position-y: bottom;
}

.popular-item:nth-child(3) .popular-link::after {
  background-image: url("../img/popular-3.svg");
}

.popular-item:nth-child(4) .popular-link::after {
  background-image: url("../img/popular-4.svg");
}

.popular-item:nth-child(5) .popular-link::after {
  background-image: url("../img/popular-5.svg");
}

.popular-item:nth-child(6) .popular-link::after {
  background-image: url("../img/popular-6.svg");
}

.popular-link:active::after {
  opacity: 0.3;
}

.services {
  margin-bottom: 95px;

  background-color: #e5e5e5;
}

.services .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-start;

  -webkit-box-align: start;
  -ms-flex-align: start;
}

.services-control-list {
  position: relative;
  top: -20px;
  z-index: 1;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 284px;
  min-height: 169px;
  margin: 0;
  padding: 0;

  list-style-type: none;

  border-right: 7px solid #000000;
}

.services-control-list::before,
.services-control-list::after {
  content: "";
  position: absolute;
  right: -7px;

  width: 7px;

  background-color: #000000;
}

.services-control-list::before {
  top: -80px;

  height: 80px;
}

.services-control-list::after {
  right: -7px;

  height: 70px;
}

.services-control-item {
  margin-bottom: 24px;
}

.services-control-item:last-child {
  margin-bottom: 0;
}

.services-btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 160px;
}

.services-radio[id$="1"]:checked ~ .services-control-list .services-btn[for$="1"],
.services-radio[id$="2"]:checked ~ .services-control-list .services-btn[for$="2"],
.services-radio[id$="3"]:checked ~ .services-control-list .services-btn[for$="3"] {
  color: #f7e184;
}

.services-radio[id$="1"]:checked ~ .services-control-list .services-btn[for$="1"]::before,
.services-radio[id$="2"]:checked ~ .services-control-list .services-btn[for$="2"]::before,
.services-radio[id$="3"]:checked ~ .services-control-list .services-btn[for$="3"]::before {
  width: 278px;

  background-color: #000000;
  -webkit-transform: scaley(5);
          transform: scaley(5);
}

.services-list {
  min-height: 288px;
  margin: 0;
  margin-left: 116px;
  padding: 0;

  list-style-type: none;
}

.services-item {
  position: relative;
  top: -26px;

  display: none;
  width: 460px;
}

.services-radio[id$="1"]:checked ~ .services-list .services-item:nth-child(1),
.services-radio[id$="2"]:checked ~ .services-list .services-item:nth-child(2),
.services-radio[id$="3"]:checked ~ .services-list .services-item:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;

  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
}

.services-item-title {
  margin: 0 0 30px;
  padding: 0;
}

.services-item::before {
  content: "";
  position: absolute;
  z-index: 1;

  width: 200px;
  height: 200px;

  background-repeat: no-repeat;
  background-position: center;
}

.services-item:nth-child(1)::before {
  top: -7px;
  right: -266px;

  background-image: url("../img/delivery.svg");
}

.services-item:nth-child(2)::before {
  top: -16px;
  right: -268px;

  background-image: url("../img/warranty.svg");
}

.services-item:nth-child(3)::before {
  top: -19px;
  right: -252px;

  background-image: url("../img/credit.svg");
}

.brands {
  margin-bottom: 145px;
}

.brands-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style-type: none;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.brands-item {
  height: 100px;
}

.brands-image {
  width: 260px;
  height: 100px;
}

.reference {
  min-height: 520px;
  margin-bottom: 82px;
}

.reference .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.reference-item {
  width: 560px;
}

.reference-item-title {
  position: relative;

  margin: 0;
  margin-bottom: 41px;
  padding: 0;
}

.reference-item-title::before {
  content: "";
  position: absolute;
  top: -53px;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 80px;

  border-top: 7px solid #000000;
}

.reference-desc {
  margin-bottom: 30px;

  letter-spacing: 0;
}

.partners-list {
  margin: 65px 0 0;
  padding: 0;
  padding-left: 35px;

  list-style-type: none;
}

.partners-item {
  position: relative;

  font-weight: 800;
  font-size: 16px;
  line-height: 40px;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 0;
}

.partners-item::before {
  content: "";
  position: absolute;
  bottom: 16px;
  left: -34px;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 8px;
  height: 8px;

  border: 2px solid #e5e5e5;
  border-radius: 50%;
}

.uppercase-caption {
  text-transform: uppercase;
}

.reference-follow-btn {
  width: 260px;
  margin-top: 55px;
}

.reference-item:last-of-type .reference-follow-btn {
  margin-top: 68px;
}

.map-link {
  display: block;
  width: 560px;
  height: 222px;

  background-color: #e9e9e9;
}

.map-image {
  width: 560px;
  height: 222px;
}

.inner-page .header {
  margin-bottom: 37px;
}

.page-title {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 48px;
  margin: 0 0 30px;
  padding: 0 60px;

  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  font-family: "Gilroy", "Arial", sans-serif;
  text-align: left;
  letter-spacing: 0.47px;
}

.breadcrumbs-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 24px;
  margin: 0 0 40px;
  padding: 0 60px;

  list-style-type: none;
}

.breadcrumbs-item {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  font-family: "Open Sans", "Verdana", sans-serif;
  letter-spacing: 0.14px;
}

.breadcrumbs-link {
  opacity: 0.3;
}

.breadcrumbs-link:not(.disabled):hover {
  opacity: 0.6;
}

.breadcrumbs-link:not(.disabled):active {
  opacity: 0.1;
}

.catalog-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pane {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.filter-pane {
  box-sizing: border-box;
  width: 348px;

  background-color: #eeeeee;
}

.filter-header {
  display: flex;
  justify-content: flex-end;
  min-height: 70px;
  padding-right: 68px;

  background-color: rgba(0, 0, 0, 0.08);
}

.filter-title {
  width: 200px;

  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3.2px;
}

.filter-form {
  align-self: flex-end;
  width: 200px;
  padding-right: 68px;
}

.filter-group {
  border-style: none;
}

.filter-group-title {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 0.18px;
}

.filter-slider-label {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 0;

  opacity: 0.2;
}

.filter-option-list {
  list-style-type: none;
}

.filter-option-title {
  font-weight: 300;
  font-size: 14px;
  line-height: 40px;
  font-family: "Open Sans", "Verdana", sans-serif;
  letter-spacing: 0.14px;
}

.filter-field:disabled + .filter-option-title {
  color: #a6a6a6;
}

.catalog-pane {
  box-sizing: border-box;
}

.sorting {
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 70px;

  background-color: rgba(0, 0, 0, 0.08);
}

.sorting-title {
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3.2px;
}

.sorting-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.sorting-type-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans", "Verdana", sans-serif;
  letter-spacing: 0;
}

.sorting-type-btn {
  display: block;

  opacity: 0.3;
}

.current .sorting-type-btn {
  opacity: 1;
}

.sorting-type-btn:hover {
  opacity: 0.6;
}

.sorting-type-btn:active {
  opacity: 1;
}

.sorting-direction-btn {
  display: block;
  width: 11px;
  height: 10px;

  opacity: 0.3;
}

.current .sorting-direction-btn {
  opacity: 1;
}

.sorting-direction-btn:hover {
  opacity: 0.6;
}

.sorting-direction-btn:active {
  opacity: 0.3;
}


.sorting-direction-item:first-child .sorting-direction-btn {
  background-image: url("../img/icon-up-dir.svg");
}

.sorting-direction-item:last-child .sorting-direction-btn {
  background-image: url("../img/icon-down-dir.svg");
}

.catalog {
  margin-left: 72px;
  margin-right: 20px;
  width: 760px;
}

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style-type: none;

  -ms-flex-wrap: wrap;
}

.catalog-item {
  width: 360px;
}

.catalog-item-title {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 0.18px;
}

.catalog-item:not(.active) .catalog-btn {
  visibility: hidden;
}

.catalog-price {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #464646;
  letter-spacing: 0.16px;
}

.catalog-compare-btn {
  font-weight: 300;
  font-size: 13px;
  line-height: 36px;
  font-family: "Open Sans", "Verdana", sans-serif;
  text-align: center;
  color: #000000;
  letter-spacing: 0.13px;

  opacity: 0.5;
}

.catalog-compare-btn:hover {
  opacity: 1;
}

.catalog-compare-btn:active {
  opacity: 0.2;
}

.pagination {
  width: 760px;
  margin-left: 72px;
  margin-right: 20px;
  background-color: rgba(0, 0, 0, 0.08);
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.pagination-item {
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 3.2px;
}

.current .pagination-number-btn {
  opacity: 1;
}

.pagination-number-btn {
  opacity: 0.3;
}

.pagination-number-btn:hover {
  opacity: 0.6;
}

.pagination-number-btn:active {
  opacity: 1;
}

.pagination-direction-btn:hover,
.pagination-direction-btn:active {
  background-color: rgba(0, 0, 0, 0.08);
}

.pagination-direction-btn:active {
  color: rgba(0, 0, 0, 0.3);
}

/* Footer */

.footer {
  min-height: 323px;

  color: #ffffff;

  background-color: #464646;
}

.footer .container {
  position: relative;

  padding: 60px 0 0;
}

.footer .container::before {
  content: "";
  position: absolute;
  top: 237px;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 80px;

  border-top: 7px solid #ffc600;
}

.footer-logo {
  top: 60px;
  left: 0;

  color: #ffc600;
}

.footer-user-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 40px;

  -webkit-box-pack: end;
  -ms-flex-pack: end;
}

.footer-auth-menu {
  width: 225px;
}

.main-page .footer-auth-menu {
  justify-content: flex-end;

  -webkit-box-pack: end;
  -ms-flex-pack: end;
}

.footer-shopping-menu {
  width: 212px;
}

.footer-site-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.footer-site-menu {
  width: 440px;
}

.footer-details {
  width: 210px;
  margin: 0;
  padding: 0;

  letter-spacing: 0;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-around;
  align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 160px;
  height: 40px;
  margin: 0 auto;
  padding: 0;

  list-style-type: none;

  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-flex-pack: distribute;
}

.social-link {
  display: block;
  width: 32px;
  height: 32px;

  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
}

.social-link-facebook {
  background-image: Url("../img/fb.svg");
}

.social-link-instagram {
  background-image: Url("../img/instagram.svg");
}

.social-link-twitter {
  background-image: Url("../img/twitter.svg");
}

.social-link:hover {
  opacity: 0.6;
}

.social-link:active {
  opacity: 0.1;
}

.copyright {
  position: absolute;
  top: 222px;
  right: 0;

  display: block;
}

.copyright:hover {
  opacity: 0.6;
}

.copyright:active {
  opacity: 0.3;
}

.copyright-icon {
  width: 27px;
  height: 35px;
}

/* Modal */

.modal {
  position: relative;

  margin: 40px 20px; /* TEMPORARY */

  -webkit-box-shadow: 0 7px 20px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 7px 20px 3px rgba(0, 0, 0, 0.2);
}

.modal-feedback {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 960px;
  min-height: 553px;
  padding: 100px;
}

.feedback-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  justify-content: space-between;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
}

.feedback-input-item {
  width: 360px;
}

.feedback-textarea-item {
  width: 760px;
}

.feedback-item {
  margin: 0;
  padding: 0;
}

.feedback-item-title {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 0;
}

.feedback-field {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans", "Verdana", sans-serif;
  color: #464646;
  letter-spacing: 0;

  background-color: rgba(229, 229, 229, 0.5);
  border: 3px solid transparent;
  outline: 0;
}

.feedback-field::-webkit-input-placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.feedback-field:-ms-input-placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.feedback-field::-ms-input-placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.feedback-field::placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.feedback-field:hover {
  background-color: rgba(230, 230, 230, 0.8);
}

.feedback-field:focus {
  background-color: transparent;
  border-color: rgba(240, 197, 46, 0.5);
}

.feedback-field:invalid {
  background-color: rgba(237, 181, 181, 0.5);
}

.feedback-field[type="text"],
.feedback-field[type="email"] {
  width: 360px;
  height: 50px;
}

.feedback-textarea-item .feedback-field {
  width: 760px;
  height: 156px;
}

.feedback-btn {
  width: 200px;
}

.modal-map {
  width: 960px;
  height: 559px;
}

.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;

  width: 55px;
  height: 55px;

  background-color: transparent;
  background-image: url("../img/modal-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-style: none;
  outline: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  cursor: pointer;
  opacity: 0.5;

  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-property: opacity, -webkit-transform;
          transition-property: opacity, -webkit-transform;
          transition-property: transform, opacity;
          transition-property: transform, opacity, -webkit-transform;
}

.modal-close-btn:hover {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  opacity: 1;
}
